.pagetitle {
    color: red;
}

.currentProgram {
    margin: 8px auto 5px;
    text-align: center;
    width: 100%;
    height: 100px;
}
.programText {
    margin: 0 0 5px 0;
}
#currentProgramName {
    margin: 0 5px;
}
#currentProgramType {
    margin: 0 5px;
}

#run-program-dialog {
    background-color: black;
}

.programItem div {
    margin: 4px 5px;
}